.cta
  .content
    %h3 The table is set
    %p
      Let us be your home away from home;
      %br
      our Private Dining Room is perfect for
      %br
      any occasion.
    = link_to 'private-dining.html' do
      Learn More
      .right-caret
