.cta
  .content
    %h3
      Don't have enough
      %br
      time for the lunch?
    %p
      Our Taverna on the Go menu is fast and
      %br
      full of flavor. You can order at the
      %br
      counter or have lunch delivered.
    = link_to '/togo.html' do
      Learn More
      .right-caret
