input[type='submit']
  background-color: $yellow
  border: none
  border-radius: rem(3)
  text-transform: uppercase
  height: rem(42)
  padding: 0 rem(30)
  box-sizing: border-box
  color: black
  font:
    family: 'Gotham', sans-serif
    weight: 700
    size: rem(14)

input[type='text'], select
  border: none
  font:
    family: 'Gotham', sans-serif
    weight: 700
    size: rem(14)
  text-transform: uppercase
  color: black
  height: rem(42)
  padding-left: rem(10)
  box-sizing: border-box
  border-radius: none
  -webkit-appearance: none
  -webkit-border-radius: 0

#mc_embed_signup
  ul.inline
    li
      vertical-align: middle
  input[type='email']
    padding-left: rem(20)
    color: black
    height: rem(42)
    font:
      size: rem(14)
      family: 'Gotham', sans-serif
      weight: 700
