table.menu
  border: rem(1) solid black
  thead
    th
      font:
        family: 'Gotham', sans-serif
        size: rem(26)
        weight: 200
      text-transform: uppercase
      text-align: left
      padding: rem(30) 0 rem(10) rem(10)
      border-bottom: rem(1) solid black
      p
        font:
          size: rem(12)
          family: 'Sentinel', serif
          weight: 300
        margin: 0
        line-height: normal
        strong
          font:
            family: 'Gotham', sans-serif
            weight: 700
  tbody
    tr
      td
        padding: rem(10) rem(10)
        border-bottom: rem(1) solid black
        font:
          size: rem(14)
        &.inverse
          background: black
          color: white
        &:nth-of-type(2)
          border-left: rem(1) solid black
          vertical-align: top
          font:
            size: rem(14)
        h5
          font:
            family: 'Gotham', sans-serif
            size: rem(14)
            weight: 700
          text-transform: uppercase
          vertical-align: middle
          margin: 0
          line-height: normal
          span
            vertical-align: middle
            background: black
            text-transform: uppercase
            color: white
            font:
              size: rem(10)
              family: 'Sentinel', serif
              weight: 300
            padding: rem(2  )
        p
          font:
            size: rem(12)
            family: 'Sentinel', serif
            weight: 300
          margin: 0
          line-height: normal
  &.alt
    thead
      th
        p
          display: inline-block
    tbody
      tr
        td
          h5, p
            display: inline-block
            vertical-align: top
          p
            margin-left: rem(10)

.stamp
  display: none
  +media($medium)
    display: block
