.catering
  @extend .togo
  background: url('/images/catering-bg.jpg')  no-repeat
  position: relative
  background-size: cover
  max-height: rem(612)
  width: 100%
  h2
    font-size: rem(120)
    margin: 0
    line-height: rem(118)
    padding: rem(100) 0 0 0
    float: left
  article
    padding-left: 0
