= partial 'refills/nav'

%section.catering
  .wrapper
    %aside
      %h2
        Catering
    %article

%section.main-content
  .wrapper
    %article
      %h1 Taverna, on your terms
      %p Experience an intimate Taverna dining experience at your home, office or private event. We offer lunch delivery service for corporate clients, as well as custom catering packages for special occasions. Our newly expanded dining room features a private dining space for meetings and celebrations.
      %p No matter what you're planning, we cater to you. Whether you need a full waitstaff or just the food, we'll make sure you and your guests experience the Taverna you expect.
    %aside
      %h3 Book your event
      %p
        Contact our eventst coordinator at
        =link_to 'catering@tavernasanmarco.com', 'mailto:catering@tavernasanmarco.com'
        to schedule your next private dining experience.

= partial 'refills/opentable'

= partial 'refills/footer'
