= partial 'refills/nav'

%section.togo-banner
  .wrapper
    %aside
    %article

%section.main-content
  .wrapper
    %article
      %h1 The best part of your busy day
      %p
        Our Taverna on the Go menu is as simple as it sounds; have lunch delivered or pick it up at the counter. Either way, you'll experience a convenient take on our handcrafted Italian. We serve all Taverna on the Go menu items as individual boxed lunches or platters perfect for sharing. Available for pickup or delivery only, it’s a lunch menu made for the work week.
      %table.menu
        %thead
          %th{colspan: '2'} On the Go
        %tbody
          %tr
            %td.inverse{colspan: '2'}
              %i All lunches include an iced tea and house-made cookie.Orders served as individual boxed lunches or platters (minimum of 5 orders).
          %tr
            %td
              %h5
                Grilled Chicken Orzo Pasta Salad
              %p
                eta cheese, kalamata olives, baby heirloom tomatoes, cucumbers, red onions, fresh herbs, red wine vinaigrette
            %td
              7
            %tr
              %td
                %h5
                  spinach salad
                  %span GF
                  %span V*
                %p
                  cinnamon-honey roasted pears or fresh peaches (seasonal), candied walnuts, blue cheese, bacon, shaved red onion, red wine vinaigrette
                  %br
                  %i
                    %strong ADD
                    chicken  4
              %td
                8
            %tr
              %td
                %h5
                  cobb SALAD
                  %span GF
                %p
                  grilled chicken, hard boiled egg, avocado, bacon, blue cheese, tomatoes, red wine vinaigrette
              %td
                12
            %tr
              %td
                %h5
                  Smoked Chicken Salad Sandwich
                %p
                  house-smoked chicken, marcona almonds, grapes, celery, fresh herbs, garlic aioli, bib lettuce, tomato, whole wheat bun
              %td
                9
            %tr
              %td
                %h5
                  Italian Sub
                %p
                  mortadella, soppressata, genoa salami, hot copa, fresh mozzarella, olive tapenade, lettuce, tomato, red onion, red wine vinaigrette
              %td
                9
            %tr
              %td
                %h5
                  Turkey & Brie Sandwich
                %p
                  baby arugula, seasonal chutney, ciabatta bun
              %td
                10

    %aside
      %h3 HAVE LUNCH DELIVERED!
      %p Ordering for a group of 5 or more? Let us bring you lunch. Menu items are available as either individual boxed lunches or platters. Plus, each order comes complete with iced tea, cookies, utensils, napkins, and ice. To place your order, just call 904.398.3005. If possible, please provide 24 hours advance notice.

= partial 'refills/opentable'

= partial 'refills/footer'
